div.class{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
nav{
  display: flex;
  justify-content: center;
  padding:20px;
  background-color: aquamarine;
}
.logo{
  width: 400px;
}
a{
  color:rosybrown;
  list-style-type: none;
  text-decoration: none;
  display: inline;
  padding: 20px 25px 20px;
  
}
a.c{
  color: red;
}
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: antiquewhite;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
